html {
  font-size: 14px;
}

.navbar {
  background: linear-gradient(135deg,#f95959, #e63946, #8b0000) !important;
  border-bottom: 5px solid #00bbf0 !important;
}

.footer {
  border-top: 4px solid #00bbf0 !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: 
  linear-gradient(180deg, rgba(196,196,196,0.4) 0%, rgba(196,196,196,0) 40%, rgba(180,180,180,0.3) 60%, rgba(160,160,160,0.5) 100%),
  linear-gradient(135deg, rgba(255,255,255,0.12) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.05) 100%),
  linear-gradient(135deg, #c4c4c4, #b0b0b0, #a0a0a0);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}